<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
      </div>
    </body>
</html>
