{% extends "base.html.twig" %}

{% block body %}
<h1>Une Fortune !</h1>
<br />
    <label>Date de creation</label>
    <p>{{ creationDate }}</p>
    <p><blockquote><pre>{{ content }}</pre></blockquote></p>
{% endblock %}
